body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  /* Navbar 높이만큼 패딩 */
  padding-top: 60px; 
}
/* Navbar의 z-index를 999로 낮추거나, 모달을 더 높게 */
.my-navbar {
  z-index: 999; /* 기존 9999 -> 999 */
}

/* 모달과 배경을 더 높게 설정 */
.modal {
  z-index: 2000 !important;
}

.modal-backdrop {
  z-index: 1999 !important;
}
